<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bugsnag</key>
	<dict>
		<key>apiKey</key>
		<string>YOUR_BUGSNAG_API_KEY_HERE</string>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>dev.igod.simplelive</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>simplelive</string>
			</array>
		</dict>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>用于在局域网内与 iPhone/iPad 同步登录信息</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_angellive-cookie._tcp</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
