<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>icloud.dev.igod.simplelive</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>angellive</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/pcccccc/AngelLive/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>8hoZllQiDUeF689sC3DSHWnFNQSCVhwW4MSIp7tNZy0=</string>
</dict>
</plist>
