<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/pcccccc/AngelLive/main/appcast.xml</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>8hoZllQiDUeF689sC3DSHWnFNQSCVhwW4MSIp7tNZy0=</string>
</dict>
</plist>
